## Tutorial 20: Tabular Data with Pandas

How to work with tabular data using `pandas`.

### Reading structured data

We will start by loading the `numpy` and `pandas` modules.

In [ ]:
import numpy as np
import pandas as pd

Now, we can load a comma separated value (CSV) file using the function
`pd.read_csv`. Here I will load a file from my website; loading a local
file is done similarly.

In [ ]:
url = "https://raw.githubusercontent.com/statsmaths/stat_data/gh-pages/tea.csv"
df = pd.read_csv(url)

The resulting data is stored in a pandas `DataFrame` object.

In [ ]:
type(df)

Printing the object itself shows the first and last thirty rows of the data.

In [ ]:
df

A pandas data frame differs from a numpy array because each column can be of
a different type. The data frame also has column names and row indicies that
can be used for various database operations.

### Numpy array

Often you will want to extract a column from a DataFrame object and 
access it as a numpy array. To do this, first access just the column
you want to grab using braces, `[]`, and then select the `values`
attribute. For example:

In [ ]:
y = df['score'].values
print(type(y))
y

The same works for columns with character values, with an appropriate
numpy data type.

### Subset Rows

It may be useful to take a subset of a DataFrame object that depends
on the values in one or more rows. There are many ways to do this, 
some of which I find somewhat confusing. Here I highlight the two
most common examples.

To take a subset of rows based on a numeric variable, use the following
syntax:

In [ ]:
df.loc[df['score'] > 96]

For a categorical column, you can test whether a column comes from one
or more values.

In [ ]:
df.loc[df['type'].isin(["pu_erh", "masters"])]

Finally, you can combine multiple conditions with the `&`, such as
below, but you **must** use parentheses to group the terms.

In [ ]:
df.loc[(df['score'] > 96) & (df['type'].isin(["pu_erh", "masters"]))]

Similarly a vertical bar, `|`, is used to code an "or" logic.

In [ ]:
df.loc[(df['score'] > 96) | (df['type'].isin(["pu_erh"]))]

### Creating a DataFrame

There are many ways to create a DataFrame object. One of the easiest
is to first build an ordered dictionary of the columns and then create
the data using `pd.DataFrame`. For example:

In [ ]:
import collections

od = collections.OrderedDict()
od['char_vals'] = ['a', 'b', 'c', 'd']
od['num_vals'] = [1, 2, 3, 4]
od

In [ ]:
df = pd.DataFrame(od)
df

You can use an unordered dictionary, but then lose the ability to easily
specify the order of the columns (they will be alphabetical).

Once you have a data frame object, saving it as a csv file is easy:

In [ ]:
df.to_csv("temp.csv", index=False)

The `index=False` stops Python from including row names in the output.

### More Information

I have only scratched the surface of things that can be done with a DataFrame
object. For more information see the official API:

- [pandas API](https://pandas.pydata.org/)

Many of the underlying ideas are taken from the data frame and data table objects
in R.

-------

## Practice